KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/segmentation/gdt.o \
$(ARCHDIR)/segmentation/load_gdt.o \
$(ARCHDIR)/interrupts/interrupts.o \
$(ARCHDIR)/interrupts/interrupt_handlers.o \
$(ARCHDIR)/interrupts/load_idt.o \
