KERNEL_ARCH_CFLAGS=
KERNEL_ARCH_CPPFLAGS=
KERNEL_ARCH_LDFLAGS=
KERNEL_ARCH_LIBS=

CC=i686-elf-gcc

# i386 specific drivers
ARCH_DRIVERS=\
$(DRIVER_DIR)/display/vga_text_display.o \

KERNEL_ARCH_OBJS=\
$(ARCHDIR)/boot.o \
$(ARCHDIR)/drivers/pit.o \
$(ARCHDIR)/tty.o \
$(ARCHDIR)/segmentation/gdt.o \
$(ARCHDIR)/segmentation/load_gdt.o \
$(ARCHDIR)/segmentation/load_tss.o \
$(ARCHDIR)/segmentation/tss.o \
$(ARCHDIR)/scheduling/kernel_thread_switch.o \
$(ARCHDIR)/scheduling/thread.o \
$(ARCHDIR)/interrupts/interrupts.o \
$(ARCHDIR)/interrupts/interrupt_handlers.o \
$(ARCHDIR)/interrupts/load_idt.o \
$(ARCHDIR)/interrupts/pic.o \
$(ARCHDIR)/interrupts/ps2.o \
$(ARCHDIR)/io.o \
$(ARCHDIR)/paging.o \
$(ARCHDIR)/processor.o \
$(ARCHDIR)/tlb_invalid_page.o \
$(ARCHDIR)/serial.o \
$(ARCH_DRIVERS)
